<html lang="en">
  <%- include("../partials/header.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

    <div class="profileContainer">
      <h2>My Account</h2>
      <hr />
      <div class="profileDetails">
        <table class="profileDetailsTable">
          <tr>
            <th>Account details</th>
          </tr>
          <tr>
            <td>Full Name:</td>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%= user.email %></td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td></td>
          </tr>
          <tr>
            <td>Favorite Genre:</td>
            <td></td>
          </tr>
        </table>
        <div class="profileImage">
          <% if(user.image != null){ %>
          <img src="<%= user.image %>" alt="profile picture" />
          <% } %>
        </div>
      </div>
      <div class="profileFunctionsContainer">
        <div class="profileAdditions">
          <form action="/auth/profile/image/?_method=PUT" method="POST">
            <h4>Submit a link to your profile image</h4>
            <label for="imageLink">Paste link here</label>
            <input type="text" name="imageLink" id="imageLink" required />
            <button type="submit">Set Image</button>
          </form>
        </div>
        <div class="profileButtons">
          <form action="/auth/logout/?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
          </form>

          <form action="/auth/profile" method="POST">
            <button type="submit">UnSubscribe</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <%- include("../partials/altFooter.ejs") %>
</html>
