<html lang="en">
  <%- include("../partials/header.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

    <div class="profileContainer">
      <h1 class="authHeader">My Account</h1>
      <hr />
      <div class="profileDetails">
        <table class="profileDetailsTable">
          <tr>
            <th class="profHeader">Account details</th>
          </tr>
          <tr>
            <td><b>Full Name:</b></td>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td><%= user.email %></td>
          </tr>
          <tr>
            <td><b>Phone:</b></td>
            <td>
              <% if(user.phone != null){ %> <b><%= user.phone %></b>
              <form action="/auth/profile/phone/?_method=PUT" method="POST">
                <input type="text" name="phone" value="Edit Phone" required />
                &nbsp;
                <button type="submit" class="editAddBtn">edit</button>
              </form>
              <% } else { %>
              <form action="/auth/profile/phone/?_method=PUT" method="POST">
                <input type="text" name="phone" value="Add Phone" required />
                &nbsp;
                <button type="submit" class="editAddBtn">add</button>
              </form>
              <% } %>
            </td>
          </tr>

          <tr>
            <td><b>Favorite Genre:</b></td>
            <td>
              <% if(user.favorite_genre != null){ %> <%= user.favorite_genre %>
              <form action="/auth/profile/genre/?_method=PUT" method="POST">
                <input type="text" name="genre" value="Edit Genre" required />
                &nbsp;
                <button type="submit" class="editAddBtn">edit</button>
              </form>
              <% } else { %>
              <form action="/auth/profile/genre/?_method=PUT" method="POST">
                <input type="text" name="genre" value="Add Genre" required />
                &nbsp;
                <button type="submit" class="editAddBtn">add</button>
              </form>
              <% } %>
            </td>
          </tr>
        </table>
        <div class="profileImage">
          <% if(user.image != null){ %>
          <img src="<%= user.image %>" alt="profile picture" />
          <% } %>
        </div>
      </div>
      <div class="profileFunctionsContainer">
        <div class="profileAdditions">
          <form action="/auth/profile/image/?_method=PUT" method="POST">
            <h4>Submit a link to your profile image</h4>
            <label for="imageLink">Paste link here</label>
            <input type="text" name="imageLink" id="imageLink" required />
            <button type="submit">Set Image</button>
          </form>
          <h4>
            Check out your reviews....
            <form action="/auth/profile/reviews" method="GET">
              <button type="submit">See Reveiws</button>
            </form>
            <h4 class="authMessage">
              <% if(messages.error) { %> <%- messages.error %> <% } %>
            </h4>
          </h4>
        </div>
        <div class="profileButtons">
          <form action="/auth/logout/?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
          </form>

          <form action="/auth/profile" method="POST">
            <button type="submit">UnSubscribe</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <%- include("../partials/footer.ejs") %>
</html>
