<html lang="en">
<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/nav.ejs') %>
  <div class="film_details_container">
    <h2 class="details_header"><%= mMovies[0].title %> (<%= mMovies[0].release_year %>)</h2>
    <div class="film_details">
      <img src="/no-image.webp" alt="no-image.webp" width="225" height="225">
      <div class="small_details">
        <div>
          <p>Category: <%= mMovies[0].category %></p>
          <p>Length: <%= mMovies[0].period %> </p>
          <p>Rating: <%= mMovies[0].rating %> </p>
        </div>
        <div class="actors">
          <h4>Actors:</h4>
          <p><%= mMovies[0].actors %>.</p>
        </div>
      </div>
    </div>
    <div class="description">
      <h4>Description:</h4>
      <p><%= mMovies[0].description %></p>
    </div>
  </div>
  <%- include('./partials/openMongoDetails.ejs') %>
</body>
<%- include('../partials/footer.ejs') %>

</html>