<html lang="en">
<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/nav.ejs') %>
  <div class="monSearchContainer">
    <h2>MongoDb Search Results</h2>
    <% if (mSearch.length > 0) { %>
    <div class="searchGridContainer">
      <% mSearch.forEach(result => { %>
      <div class="movieBox">
        <img src="<%= result.poster %>" alt="no-image.webp" width="280" height="280">
        <a href="/search/mongo/<%= result._id %>">
          <p><b><%= result.title %></b> (<%= result.year %>)</p>
        </a>
      </div>
      <% }) %>
      <% } else { %>
      <p>No films found.</p>
      <% } %>
    </div>
  </div>
</body>
<% if (mSearch.length <= 8) { %>
<%- include('../partials/altFooter.ejs') %>
<% } else {%>
<%- include('../partials/footer.ejs') %>
<% } %>

</html>