<html lang="en">
<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/nav.ejs') %>
  <div class="gresSearchContainer">
    <h2>Postgres Search Results</h2>
    <% if (pSearch.length > 0) { %>
    <div class="searchGridContainer">
      <% pSearch.forEach(film => { %>
      <div class="movieBox">
        <img src="/no-image.webp" alt="no-image.webp" width="280" height="280">
        <a href="<%= film.fid %>">
          <p><b><%= film.title %></b> (<%= film.release_year %>)</p>
        </a>
      </div>
      <% }) %>
      <% } else { %>
      <p>No Films found.</p>
      <% } %>
    </div>
  </div>
</body>
<%- include('../partials/footer.ejs') %>

</html>